nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px auto;
}

nav section a {
  font-size: 32px;
  text-decoration: none;
  font-weight: 600;
  color: #4f39f6;
}

nav .nav-links {
  display: flex;
  gap: 20px;
}

nav .nav-links a {
  text-decoration: none;
  color: #ccc;
}
nav .nav-links a.active {
  color: #4f39f6;
}
